@CHARSET "UTF-8";
.loginbox{                                /* welcome.jsp animation */
	
	-webkit-animation: mymove 1s ;
	
}
@-webkit-keyframes mymove {
  from {top: 0px;}
  to {bottom: 880px;}
}
.loginbox1 input[type="text"]{            /* Sides.jsp*/
	
	box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.loginbox1 input[type="button"], 
.loginbox1 input[type="submit"]{
	
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 153px;
	text-decoration: none;
	text-transform: uppercase;
}



